@model List<Usuario>
@{
    ViewData["Title"] = "Listagem de Usuários";
}



    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Biblioteca</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link text-light dropdown-toggle" data-toggle="dropdown" href="#" id="menuLivros">Livros</a>
                            <div class="dropdown-menu" aria-labelledby="menuLivros">
                                <a class="dropdown-item" href="/Livro/Listagem">Listagem</a>
                                <a class="dropdown-item" href="/Livro/Cadastro">Cadastro</a>
                            </div>
                        </li>                       
                        <li class="nav-item dropdown">
                            <a class="nav-link text-light dropdown-toggle" data-toggle="dropdown" href="#">Emprestimo</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/Emprestimo/Listagem">Listagem</a>
                                <a class="dropdown-item" href="/Emprestimo/Cadastro">Cadastro</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-light dropdown-toggle" data-toggle="dropdown" href="#">Usuários</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/Usuario/Listagem">Listagem</a>
                                <a class="dropdown-item" href="/Usuario/Cadastro">Cadastro</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


<div class="row">
    <div class="col-md-12">
        <table class="table table-striped"> 
            <thead>
                <tr><th>Id</th>
                <th>Login</th>
                <th>Senha</th>
                <th>Nome</th>
                </tr>
            </thead>
            <tbody>
                @foreach(Usuario u in Model)
                {
                <tr>
                    <td>@u.Id</td>
                    <td>@u.Login</td>
                    <td>@u.Senha</td>
                    <td>@u.NomeUsuario</td>
                    <td><a href="/Livro/Edicao/@u.Id">Editar</a></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>